<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
        <session-factory>             
        <mapping class="com.unipoint.model.AccessPrivilleges" />
		<!--<mapping class="com.unipoint.model.AccessPrivilleges_"/> -->
		<mapping class="com.unipoint.model.AppInvite" />
		<!--<mapping class="com.unipoint.model.AppInvite_"/> -->
		<mapping class="com.unipoint.model.AssignedCoupons" />
		<!--<mapping class="com.unipoint.model.AssignedCoupons_"/> -->
		<mapping class="com.unipoint.model.AssingedVoucher" />
		<!--<mapping class="com.unipoint.model.AssingedVoucher_"/> -->
		<mapping class="com.unipoint.model.BuyPoint" />
		<!--<mapping class="com.unipoint.model.BuyPoint_"/> -->
		<mapping class="com.unipoint.model.BuzzedMe" />
		<!--<mapping class="com.unipoint.model.buzzedme_"/> -->
		<mapping class="com.unipoint.model.Currency" />
		<mapping class="com.unipoint.model.CardLog" />
		<mapping class="com.unipoint.model.Catagory" />
		<mapping class="com.unipoint.model.Coupons" />
		<!--<mapping class="com.unipoint.model.currency"/> -->
		<mapping class="com.unipoint.model.CustomerRequests" />
		<!--<mapping class="com.unipoint.model.CustomerRequests_"/> -->
		<mapping class="com.unipoint.model.DisabledCustomer" />
		<!--<mapping class="com.unipoint.model.DisabledCustomer_"/> -->
		<mapping class="com.unipoint.model.Faq" />
		<!--<mapping class="com.unipoint.model.Faq_"/> -->
		<mapping class="com.unipoint.model.FeedbackTemplate" />
		<!--<mapping class="com.unipoint.model.FeedbackTemplate_"/> -->
		<mapping class="com.unipoint.model.Leaflet" />
		<!--<mapping class="com.unipoint.model.Leaflet_"/> -->
		<mapping class="com.unipoint.model.LoyaltyScheme" />
		<!--<mapping class="com.unipoint.model.LoyaltyScheme_"/> -->
		<mapping class="com.unipoint.model.Merchant" />
		<mapping class="com.unipoint.model.MerchantCategory" />
		<!--<mapping class="com.unipoint.model.MerchantCategory_"/> -->
		<mapping class="com.unipoint.model.MerchantCustomer" />
		<mapping class="com.unipoint.model.MerchantCustomerUnipointRewards" />
		<!--<mapping class="com.unipoint.model.MerchantCustomerUnipointRewardsPK_"/> -->
		<!--<mapping class="com.unipoint.model.MerchantCustomerUnipointRewards_"/> -->
		<!--<mapping class="com.unipoint.model.MerchantCustomer_"/> -->
		<mapping class="com.unipoint.model.MerchantFeedback" />
		<!--<mapping class="com.unipoint.model.MerchantFeedback_"/> -->
		<mapping class="com.unipoint.model.MerchantProfile" />
		<!--<mapping class="com.unipoint.model.MerchantProfile_"/> -->
		<mapping class="com.unipoint.model.MerchantUser" />
		<!--<mapping class="com.unipoint.model.MerchantUser_"/> -->
		<!--<mapping class="com.unipoint.model.Merchant_"/> -->
		<mapping class="com.unipoint.model.Offer" />
		<mapping class="com.unipoint.model.OfferClaim" />
		<!--<mapping class="com.unipoint.model.OfferClaim_"/> -->
		<mapping class="com.unipoint.model.OfferReservation" />
		<!--<mapping class="com.unipoint.model.OfferReservation_"/> -->
		<!--<mapping class="com.unipoint.model.Offer_"/> -->
		<mapping class="com.unipoint.model.Organization" />
		<!--<mapping class="com.unipoint.model.Organization_"/> -->
		<mapping class="com.unipoint.model.Outlet" />
		<!--<mapping class="com.unipoint.model.Outlet_"/> -->
		<mapping class="com.unipoint.model.PasswordChangeRequest" />
		<!--<mapping class="com.unipoint.model.PasswordChangeRequest_"/> -->
		<mapping class="com.unipoint.model.Payment" />
		<!--<mapping class="com.unipoint.model.Payment_"/> -->
		<mapping class="com.unipoint.model.PointConversion" />
		<!--<mapping class="com.unipoint.model.PointConversion_"/> -->
		<mapping class="com.unipoint.model.PointRewardType" />
		<!--<mapping class="com.unipoint.model.PointRewardType_"/> -->
		<!--<mapping class="com.unipoint.model.PointRewards_"/> -->
		<mapping class="com.unipoint.model.PointRewards" />
		<mapping class="com.unipoint.model.Product" />
		<!--<mapping class="com.unipoint.model.Product_"/> -->
		<mapping class="com.unipoint.model.RecoImage" />
		<!--<mapping class="com.unipoint.model.RecoImage_"/> -->
		<mapping class="com.unipoint.model.SubmittedFeedback" />
		<!--<mapping class="com.unipoint.model.SubmittedFeedback_"/> -->
		<mapping class="com.unipoint.model.SubscribeMerchant" />
		<!--<mapping class="com.unipoint.model.SubscribeMerchant_"/> -->
		<mapping class="com.unipoint.model.Transaction" />
		<!--<mapping class="com.unipoint.model.Transaction_"/> -->
		<mapping class="com.unipoint.model.UnipointCustomerProfile" />
		<!--<mapping class="com.unipoint.model.UnipointCustomerProfile_"/> -->
		<mapping class="com.unipoint.model.UnipointcustomerAdvanced" />
		<!--<mapping class="com.unipoint.model.UnipointcustomerAdvanced_"/> -->
		<mapping class="com.unipoint.model.Vouchers" />
		<!--<mapping class="com.unipoint.model.Vouchers_"/> -->
		<mapping class="com.unipoint.model.Wishlist" />
		<!--<mapping class="com.unipoint.model.Wishlist_"/> -->
		<mapping class="com.unipoint.model.OfferLeaflet" />
    </session-factory>    
</hibernate-configuration>
