body {
}

#map {
  width: 100%;
  height: 876px;
  background-color: #CCC;
}

#pano {
  width: 100%;
  height: 400px;
  background-color: #CCC;
}

.streetview {
  height: 100px;
  width: 100%;
}

.overlay {
	width:100%;
	min-height:500px; 
	position:absolute; 
	top:0;
}